PROXY_PORT=8888
API_URL=https://DOMAIN.streamline.ai
AUTH_KEY_ID=
AUTH_PRIVATE_KEY="
-----BEGIN PRIVATE KEY-----

-----END PRIVATE KEY-----
"
WEBHOOK_PUBLIC_KEY="
-----BEGIN PUBLIC KEY-----

-----END PUBLIC KEY-----
"
WEBHOOK_SERVER_PORT=8080
